<header>
    <h1>ratingBook</h1>
    <div class="header-context">
        <div class="cta">
            <li><a href="register-book" class="hover-underline-animation">Add a new Book</a></li>
        </div>
        <div class="cta">
            <li><a href="register-library" class="hover-underline-animation">Add a new Library</a></li>
        </div>
        <div class="cta">
            <li><a href="list-all" class="hover-underline-animation">List all Registers</a></li>
        </div>
    </div>
</header>