<section>
    <div class="home-container">
        <div class="home-context">
            <h1>Register a Library</h1>
            <form class="form" (ngSubmit)="onSubmit()">
                <label for="address">Address:</label>
                <input id="address" [(ngModel)]="newAddress.address" name="address" required>
                <button type="submit">Adicionar</button>
            </form>

            <ngb-toast *ngIf="toastVisible" [autohide]="true">
                Livraria adicionada com sucesso
            </ngb-toast>
        </div>
    </div>
</section>